<html>
    <head>
        <title>Time</title>
    </head>
    <body>
    {% if user %}
        <p>
            Welcome, {{ user.email() }}!
            You can <a href="{{ logout_url }}">sign out</a>
        </p>
    {% else %}
        <p>
            Welcome!
            <a href="{{ login_url }}">Sign in or register</a> to customise
        </p>
    {% endif %}

        {% if user %}
            <form action="/prefs" method="post">
                <label for = "image_name">
                    Image label
                </label>
                <input name="image_name" id="image_name" type="text" size="4" value="{{ profilepicture.name }}" />
                <label for = "image_size">
                    Image size
                </label>
                <input name="image_size" id="image_size" type="text" size="4" value="{{ profilepicture.size }}" />
                <input type="submit" value="Submit"/>
            </form>
        {% endif %}
    </body>
</html>