<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
    {% if user %}
        <p>
            Welcome, {{ user.email() }}!
            You can <a href="{{ logout_url }}">sign out</a>
        </p>
    {% else %}
        <p>
            Welcome!
            <a href="{{ login_url }}">Sign in or register</a> to upload an image
        </p>
    {% endif %}

        {% if user %}
            <form action="/upload" method="post" enctype="multipart/form-data">
                <p>
                    <label for = "image_name">
                        Image Name
                    </label>
                    <input name="image_name" id="image_name" type="text" size="20" value="{{ profile_picture.name }}" />
                </p>
                <p>
                    <label for = "image_file">
                        File:
                    </label>
                    <input name="image_file" id="image_file" type="file" accept="image/*" size="4" value="{{ profile_picture.file }}"/>
                </p>
                <input type="submit" value="Submit"/>
            </form>
        {% endif %}
    </body>
</html>