<html>
    <head>
        <title>View Images</title>
    </head>
    <body>
    {% if user %}
        <p>
            Welcome, {{ user.email() }}!
            You can <a href="{{ logout_url }}">sign out</a>
        </p>
        <p>
            <a href="/upload">Upload Image</a>
        </p>

        {% for user_image in user_images %}
        <p>
            {{ user_image.name }}
            <img src="{{ user_image.public_url }}"/>
            <a href="/delete?imageid={{user_image.name}}">Delete image</a>
        </p>
        {% endfor %}
    {% else %}
        <p>
            Welcome!
            <a href="{{ login_url }}">Sign in or register</a> to view an image
        </p>
    {% endif %}
    </body>
</html>