<html>
    <head>
        <title>View Image: {{ user_image.name }}</title>
    </head>
    <body>
    {% if user %}
        <p>
            Welcome, {{ user.email() }}!
            You can <a href="{{ logout_url }}">sign out</a>
        </p>
    {% else %}
        <p>
            Welcome!
            <a href="{{ login_url }}">Sign in or register</a> to view an image
        </p>
    {% endif %}

        {% if user %}
            <image height="100" width="100" href="{{ user_image.address }}"></image>
        {% endif %}
    </body>
</html>