<!DOCTYPE html>
<html>
    <head>
        <title>Wessex Saxonics Media Server</title>

        <!-- Initialise Firebase Authentication -->
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
        <script>
          var config = {
            apiKey: "AIzaSyB3_ZzmT5M_bz9wGdqoPmegBpXRv9JIufE",
            authDomain: "wessex-saxonics.firebaseapp.com"
          };
          firebase.initializeApp(config);
        </script>

        <!-- Load Firebase UI -->
        <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
        <script type="text/javascript">
          var uiConfig = {
            signInSuccessUrl: '#',
            signInOptions: [

              firebase.auth.GoogleAuthProvider.PROVIDER_ID,
              firebase.auth.FacebookAuthProvider.PROVIDER_ID,
              firebase.auth.EmailAuthProvider.PROVIDER_ID
            ],

            tosUrl: ''
          };

          // Initialize the FirebaseUI Widget using Firebase.
          var ui = new firebaseui.auth.AuthUI(firebase.auth());

          // The start method will wait until the DOM is loaded.
          ui.start('#firebaseui-auth-container', uiConfig);
        </script>

        <!-- Load main page logic javascript -->
        <script async src="/js/main.js"></script>
        <script>
            function init() {
                wessexsaxonics.mediaserver.init();
            }
        </script>
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <ul id="navbar">
            <li><a id="home" href='javascript:void(0)' class="active"><b>Wessex Saxonics Media Server POC</b></a></li>
            <li><a id="upload" href="javascript:void(0)">Upload</a></li>
            <li style="float:right"><a id="sign-out" href="javascript:void(0)">Sign Out</a></li>
        </ul>

        <div id="firebase">
            <div id="firebaseui-auth-container"></div>
        </div>

        <div id="content">
            <div id="view-page">
                <h2>View All Images</h2>
                <ul id="images"></ul>
            </div>

            <div id="upload-page">
                <h2>Upload</h2>
            </div>

            <div id="edit-page">
                <h2>Edit Image</h2>
            </div>
        </div>
    </body>
</html>
