<!DOCTYPE html>
<html>
    <head>
        <title>Wessex Saxonics Media Server</title>

        <meta http-equiv="Cache-control" content="no-cache">

        <!-- Initialise Firebase Authentication -->
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script>
        <script>
          var config = {
            apiKey: "AIzaSyB3_ZzmT5M_bz9wGdqoPmegBpXRv9JIufE",
            authDomain: "wessex-saxonics.firebaseapp.com"
          };
          firebase.initializeApp(config);
        </script>

        <!-- Load Firebase UI -->
        <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
        <script type="text/javascript">
          var uiConfig = {
            signInSuccessUrl: '/',
            signInOptions: [

              firebase.auth.GoogleAuthProvider.PROVIDER_ID,
              firebase.auth.FacebookAuthProvider.PROVIDER_ID,
              firebase.auth.EmailAuthProvider.PROVIDER_ID
            ],

            tosUrl: ''
          };

          // Initialize the FirebaseUI Widget using Firebase.
          var ui = new firebaseui.auth.AuthUI(firebase.auth());

          // The start method will wait until the DOM is loaded.
          ui.start('#firebaseui-auth-container', uiConfig);
        </script>

        <!-- Load main page logic javascript -->
        <script async src="/js/main.js"></script>
        <script>
            function init() {
                wessexsaxonics.mediaserver.init();
            }
        </script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>

        <ul id="navbar">
            <li><a id="home" href='javascript:void(0)' class="active"><b>Wessex Saxonics Media Server POC</b></a></li>
            <li><a id="upload" href="javascript:void(0)">Upload</a></li>
            <li><a id="edit" href="javascript:void(0)">Edit</a></li>
            <li style="float:right"><a id="sign-out" href="javascript:void(0)">Sign Out</a></li>
        </ul>

        <div id="firebase">
            <div id="firebaseui-auth-container"></div>
        </div>

        <div id="content">

            <div id ="loading-screen">
                <p id="loading-text">Loading...</p>
            </div>

            <section id="view-page">
                <h2>View Images</h2>
                <div id="images" class="section-content"></div>
            </section>

            <section id="upload-page">
                <h2>Upload</h2>
                <form id="upload-form" class="section-content" action="javascript:void(0)" enctype="multipart/form-data">
                    <p>
                        <label for="image_name">Image Name</label>
                        <input name="image_name" id="image_name" type="text" size="20" required/>
                        <p id="name-in-use">Name already in use</p>
                        <label for="image_file">File:</label>
                        <input name="image_file" id="image_file" type="file" accept="image/*" size="4" required/>
                    </p>
                    <input type="submit" value="Upload"/>
                </form>
            </section>

            <section id="edit-page">
                <h2 id="edit-title">Editing {0}</h2>
                <div class="section-content">
                    <form id="edit-form" action="javascript:void(0)" enctype="multipart/form-data">
                        <p>
                            <label for="scale-factor">Scale by </label>
                            <input id="image-id" hidden />
                            <input name="scale-factor" id="scale-factor" type="number" min="0" style="text-align: right; width: 75px;" required/>
                            %
                        </p>
                        <p>
                            <input type="submit" value="Save"/>
                        </p>
                    </form>
                    <br/>
                    <a id="delete-image" href="javascript:void(0)">Delete</a>
                    <br/>
                    <img id="edit-image"/>
                </div>
            </section>
        </div>
    </body>
</html>
